// Import font from Google fonts
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

// Font
$font-family:'Spartan', sans-serif;

// Color
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

